[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"

[dev-packages]
black = "*"
ipython = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.8"
